body {
    background: black;
    color: white;
}

header {
    border-bottom: 1px solid white;
}

.byte {
    margin: 4px;
    padding: 2px;
    background: #2a2a2a;
    font-family: monospace;
    width: 2em;
    display: inline-block;
    text-align: center;
    white-space: pre;
    border-color: white;  /* Not expressed here; activated via JS on hover */
    box-sizing: border-box;
}
.byte:hover {
    background: #444;
}

.packet {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#binary-view,
#char-view,
#controls {
    width: 60ex;
    float: left;
    margin-left: 10px;
}

.rule {
    background: #2a2a2a;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 10pt;
}

a {
    color: white;
}