.byte {
    margin: 4px;
    padding: 2px;
 /*   background: #2a2a2a;*/
    font-family: monospace;
    width: 2em;
    display: inline-block;
    text-align: center;
    white-space: pre;
    border-color: black;  /* Not expressed here; activated via JS on hover */
    box-sizing: border-box;
}
.byte:hover {
    background: #444;
}

.packet {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
