<!DOCTYPE html>
<html ng-app="decodeninja">
  <head>
    <title>decode.ninja - collaborative binary reverse engineering</title>
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/rules.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
  </head>
  <body>
    <header>
      <h1>decode.ninja</h1>
    </header>

    <section id="main" ng-controller="DecodeController as dc">
      <div id="pane-upload-file" ng-if="dc.pane === 'pane-upload-file'">
	    <h2>select a file</h2>
	    <p><input id="file-upload" type="file"
                  onchange="angular.element(this).scope().dc.file_changed(this.files[0])" />
	    <p><button id="process-button" ng-click="dc.check_file(); dc.pane='pane-decode'">Process</button></p>
      </div>
      
      <div id="pane-decode" ng-if="dc.pane === 'pane-decode'">
	    <h3>decode</h3>
	    <div id="binary-view">
          <span class="byte"
                id="byte-{{$index}}"
                ng-style="byte.style"
                ng-mouseenter="dc.activate_hover($index);"
                ng-mouseleave="dc.deactivate_hover($index);"
                ng-repeat="byte in dc.bytes track by $index">{{ byte.d.toString(16); }}</span>
	    </div>
        
        <div id="char-view">
          <span
             id="char-{{$index}}"
             class="byte"
             ng-style="byte.style"
             ng-mouseenter="dc.activate_hover($index);"
             ng-mouseleave="dc.deactivate_hover($index);"
             ng-repeat="byte in dc.bytes">{{ byte.c }}</span>
        </div>
      </div>

      <div id="controls" ng-if="dc.pane === 'pane-decode'">
        <h2>Controls</h2>
        <button ng-click="dc.pane='pane-upload-file';">Switch File</button>
        <h2>Add a Processor</h2>
        <div
           ng-repeat="rule in dc.list_available_rules()"
           title="{{ rule.desc }}">
          
          <a href="#" ng-click="dc.add_rule(rule.obj);">[+]</a> {{ rule.name }}
        </div>

        <h2>Applied Processors</h2>
        <div
           ng-repeat="rule in dc.rules"
           class="rule">
          <h2><a href="#" ng-click="dc.remove_rule($index);">[X]</a> {{ rule.name }}</h2>
          <div ng-repeat="field in rule.fields track by $index">
            {{ field.name }}:
            <input type="{{ field.type }}" ng-model="field.value"
                   ng-change="dc.apply_rules()" />
          </div>
        </div>
      </div>
      
    </section>
  </body>
</html>
